.ddd-home-content__wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    max-width: 200px;
  }

  .ddd-home-content__title {
    margin: 0.25em 0 0.5em;
  }
}
