.page-title {
  position: relative;
  margin-bottom: 0.5em;

  &::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: $text-dark;
    margin-top: 0.3em;
  }
}
