header.site-header {
  margin-top: 3em;

  .container {
    max-width: 700px;
  }

  .logged-in & {
    top: 30px;
  }
}

.navbar-logo {
  font-size: 1.125em;
  @extend %heading-font;
  text-transform: uppercase;

  span {
    flex: 0 0 auto;
    margin-left: 1em;
    color: $text-dark;
    margin: 0 0 0 0.5em;
    vertical-align: middle;
  }

  img {
    flex: 0 0 auto;
    max-width: 100px;
    vertical-align: middle;
  }
}

.navbar-nav.menu--default {
  margin-top: -0.75em;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;

  li {
    flex: 0 0 auto;
    padding: 0 1em;
    margin-bottom: 0;
    list-style: none;
    @extend %heading-font;
    font-size: 1.125em;

    a {
      position: relative;
      color: $text-dark;
      padding-bottom: 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }

    &.current_page_item a {

    }
  }

}

.menu--home .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
